<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.sesang06.lightnovellist">
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:usesCleartextTraffic="true"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<meta-data
				android:name="com.google.firebase.messaging.default_notification_channel_id"
				android:value="@string/default_notification_channel_id" />
		<service
				android:name=".service.LightNovelFirebaseMessagingService"
				android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<activity
				android:name=".MainActivity"
				android:theme="@style/NoActionBarAppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				
				<data android:scheme="@string/kakao_scheme"
					  android:host="@string/kakaolink_host" />
			</intent-filter>
		</activity>
		<activity
				android:name=".LightNovelInfoActivity"
				android:theme="@style/NoActionBarAppTheme">
		
		</activity>
		<activity
				android:name=".SearchLightNovelActivity"
				android:theme="@style/NoActionBarAppTheme">
			<meta-data
					android:name="android.app.searchable"
					android:resource="@xml/searchable">
			</meta-data>
		</activity>
		<activity
				android:name=".SearchResultActivity"
				android:theme="@style/NoActionBarAppTheme">
		
		</activity>
		<activity android:name=".LightNovelFeaturedInfoActivity"
				  android:theme="@style/NoActionBarAppTheme"/>
		<activity android:name=".LightNovelRecommendInfoActivity"
				  android:theme="@style/NoActionBarAppTheme"/>
		<activity android:name=".CategoryFilterActivity"
				  android:theme="@style/NoActionBarAppTheme"/>
		<meta-data
				android:name="com.kakao.sdk.AppKey"
				android:value="@string/kakao_app_key" />
	</application>

</manifest>